header.main-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}


#calendar-table {
  margin-top: 10px ;
  float:right;
  width: 60%;
  border-collapse: collapse;
  table-layout: fixed;
}
.box-container {
  border: 1px solid #000; /* Black border */
  width: 500px; /* Set a width */
  height: 200px; /* Set a height */
  padding: 10px; 
  margin: 10px; 
  border-radius: 5px; /* Rounded corners */
  background-color: #f9f9f9; /* Light grey background */
}
#calendar-table th, #calendar-table td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
#weekly-tasks-dropdown {
  display: inline-block;
  margin-top: 10px ;
  width: 30%;
  border-collapse: collapse;
  table-layout: fixed;
}